[submodule "FastLED"]
	path = lib/fastled
	url = https://github.com/focalintent/FastLED-Sparkcore
[submodule "LEDSprites"]
	path = lib/ledsprites
	url = https://github.com/tenaciousRas/LEDSprites.git
[submodule "LEDMatrix"]
	path = lib/ledmatrix
	url = https://github.com/tenaciousRas/LEDMatrix.git
